$font-family: Arial, Helvetica;

$default-font-weight: 300;
$default-font-color: #342f36;
$default-font-size: 16px;

$main-background-color: #C3BBB0;
$content-background-color: #FFF;
$social-background-color: #F2F1EF;

$green: #6CB544;
